.container-entrega{
    padding: 0 6rem;

    .container-sedes{
        display: flex;
        justify-content: center;
    }

    .container-direccion{
        display: flex;
        justify-content: center;
        flex-direction: column;
        margin: 2rem 0;
        flex-wrap: wrap;
        align-content: center;
        .direccion,
        .descripcion{
          width: 50%;
          margin: 2rem 0;

          input{
            width: 100%;
            padding: 0.5rem;
            border-radius: 5px;
            font-size: 16px; /* Cambia el tamaño de la fuente */
            height: 70px; /* Cambia la altura del input */
            border: 1px solid white;
            border-radius: 10px;
          }
          textarea{
            width: 100%;
            padding: 0.5rem;
            border-radius: 5px;
            font-size: 16px; /* Cambia el tamaño de la fuente */
            height: 120px; /* Cambia la altura del input */
            border: 1px solid white;
            border-radius: 10px;
          }
        }

        .boton-confirmar{
          align-self: center;
          .btn-confirmar{
            font-size: 1.5rem;
          }
        }


        
    }
}

.card-title{
    font-weight: 900 !important;
  }
.cat-title{
    color: black !important;
    font-weight: 700 !important;
  }
  .card-img-top{
    width: 100%;
    height: 200px;
    object-fit: cover;
  
  }
  .body-sedes{
    background: #E3DF00;
    height: 50px;
    h5{
        font-weight: 700 !important;
        color: black !important;
        font-size: 1.5rem;
        text-align: center;
    }
    h6{
        font-weight: 900 !important;
        color: black !important;
    }
  }

  .nav-tabs-primary{
    justify-content: space-around !important;
    ul{
        justify-content: space-around !important;
    }
    *{
        justify-content: space-around !important;

    }
  }

.container-gmap{
    display: flex;
    justify-content: center;
    margin-top: 2rem;
    .gmap {
        height: 500px;
        width: 100%;
      }
  }

  .search-input{
    width: 100%;
    padding: 0.5rem;
    margin: 1rem 0;
    border: 1px solid #000;
    border-radius: 5px;
    font-size: 16px; /* Cambia el tamaño de la fuente */
    height: 40px; /* Cambia la altura del input */
    width: 300px; /* Cambia el ancho del input */
}