<div class="section horarios">
    <div class="container w-100">
      <div>
        <div>
          <tabset #tabset class="nav-tabs-primary w-100">
            <tab *ngFor="let sede of sedes" (selectTab)="onSedeSelected(sede.id)">
              <ng-template tabHeading>
                <div class="d-flex p-2">
                    <h1 class="text-white tab-title d-flex">
                        {{sede.nombre}}</h1>
                        <img src="assets/icons/ubicacion3.png" alt="ubicacion" class="icon-title" />
                </div>
              </ng-template>
              <div>
                <div>
                    <h2 class="text-white
                    ">Dirección</h2>
                    <p class="direccion-text">{{sede.ubicacion}}</p>
                </div>
                
                <div class="section galeria">

                  <div class="swiper-galeria mySwiper">
                    <div class="swiper-wrapper">
                      <div class="swiper-slide">
                        <img src="assets/img/home-galeria-1.webp" />
                      </div>
                      <div class="swiper-slide">
                        <img src="assets/img/home-galeria-2.webp" />
                      </div>
                      <div class="swiper-slide">
                        <img src="assets/img/home-galeria-3.webp" />
                      </div>
                      <div class="swiper-slide">
                        <img src="assets/img/home-galeria-4.webp" />
                      </div>
                      <div class="swiper-slide">
                        <img src="assets/img/home-galeria-5.webp" />
                      </div>

                  </div>
                  <div class="swiper-pagination"></div>
                  <div class="swiper-button-next">
                      <img src="assets/icons/play2.png" alt="arrow-right" class="btn-arrow-next" />
                  </div>
                    <div class="swiper-button-prev">
                      <img src="assets/icons/play2.png" alt="arrow-right" class="btn-arrow-prev" />

                    </div>
                </div>
              </div>

                <div class="col-md-12 container-horarios">
                    <h1 class="text-resaltado title-horario">Horarios</h1>
                    <div class="d-flex flex-column flex-md-column justify-content-center w-100">
                        <div class="horario">
                            <h3 class="text-white">Lunes a Viernes</h3>
                            <h3 class="text-white">{{sede.horario_inicio}} - {{sede.horario_fin}}</h3>
                        </div>

                        <hr class="separator" />

                        <div class="horario">
                            <h3 class="text-white
                            ">Sábado</h3>
                            <h3 class="text-white">{{sede.horario_inicio}} - {{sede.horario_fin}}</h3>
                        </div>

                        <hr class="separator" />

                        <div class="horario">
                            <h3 class="text-white">Domingo</h3>
                            <h3 class="text-white">{{sede.horario_inicio}} - {{sede.horario_fin}}</h3>
                        </div>
                    </div>
                </div>
            </div>
            </tab>
          </tabset>
        </div>
      </div>
      
    </div>
    <div>
      
    </div>
  </div>
  <app-horario></app-horario>

  <div  *ngIf="selectedSede !== 0">
    <app-mapa [selectedUbicacion]="selectedSede"></app-mapa>
  </div>
  <div>
    <app-contactanos-footer></app-contactanos-footer>
  </div>

  