<div class="section horarios">
    <div class="container w-100">
      <div>
        <div>
          <tabset class="nav-tabs-primary w-100">
            <tab>
              <ng-template tabHeading>
                <div class="d-flex p-2">
                    <h1 class="text-white tab-title d-flex">
                        SEDE CENTRO</h1>
                        <img src="../../../assets/icons/ubicacion3.png" alt="ubicacion" class="icon-title" />
                </div>
              </ng-template>
              <div>
                <div>
                    <h2 class="text-white mb-1">Dirección</h2>
                    <p class="direccion-text">Primero de Mayo y Los Ríos, Guayaquil, Ecuador</p>
                </div>
                <div class="section galeria">

                    <div class="swiper-galeria mySwiper">
                      <div class="swiper-wrapper">
                        <div class="swiper-slide">
                          <img src="assets/img/image-galeria.png" />
                        </div>
                        <div class="swiper-slide">
                          <img src="assets/img/image-galeria-1.png" />
                        </div>
                        <div class="swiper-slide">
                          <img src="assets/img/image-galeria-2.png" />
                        </div>
                        <div class="swiper-slide">
                          <img src="assets/img/image-galeria-3.png" />
                        </div>
                        <div class="swiper-slide">
                          <img src="assets/img/image-galeria-4.png" />
                        </div>
                        <div class="swiper-slide">
                          <img src="assets/img/image-galeria-5.png" />
                        </div>

                    </div>
                    <div class="swiper-pagination"></div>
                    <div class="swiper-button-next">
                        <img src="../../../assets/icons/play2.png" alt="arrow-right" class="btn-arrow-next" />
                    </div>
                      <div class="swiper-button-prev">
                        <img src="../../../assets/icons/play2.png" alt="arrow-right" class="btn-arrow-prev" />

                      </div>
                  </div>
                </div>

                <div class="col-md-12 container-horarios">
                    <h1 class="text-resaltado title-horario">Horarios</h1>
                    <div class="d-flex flex-column flex-md-column justify-content-center w-100">
                        <div class="horario">
                            <h3 class="text-white mb-0
                            ">Lunes a Viernes</h3>
                            <h3 class="text-white
                            ">6:00 am - 10:00 pm</h3>
                        </div>

                        <hr class="separator" />

                        <div class="horario">
                            <h3 class="text-white mb-0
                            ">Sábado</h3>
                            <h3 class="text-white
                            ">6:00 am - 10:00 pm</h3>
                        </div>

                        <hr class="separator" />

                        <div class="horario">
                            <h3 class="text-white mb-0
                            ">Domingo</h3>
                            <h3 class="text-white
                            ">6:00 am - 10:00 pm</h3>
                        </div>
                    </div>
                </div>
            </div>
            </tab>
            
            <tab>
                <ng-template tabHeading>
                  <div class="d-flex p-2">
                      <h1 class="text-white tab-title d-flex">
                          SEDE NORTE</h1>
                          <img src="../../../assets/icons/ubicacion3.png" alt="ubicacion" class="icon-title" />
                  </div>
                </ng-template>
                <div>
                  <div>
                      <h2 class="text-white mb-1">Dirección</h2>
                      <p class="direccion-text">Plaza Mayor, Av. Rodolfo Baquerizo Nazur, Guayaquil, Ecuador</p>
                  </div>
                  <div class="section galeria">
  
                      <div class="swiper-galeria mySwiper">
                        <div class="swiper-wrapper">
                          <div class="swiper-slide">
                            <img src="assets/img/image-galeria.png" />
                          </div>
                          <div class="swiper-slide">
                            <img src="assets/img/image-galeria-1.png" />
                          </div>
                          <div class="swiper-slide">
                            <img src="assets/img/image-galeria-2.png" />
                          </div>
                          <div class="swiper-slide">
                            <img src="assets/img/image-galeria-3.png" />
                          </div>
                          <div class="swiper-slide">
                            <img src="assets/img/image-galeria-4.png" />
                          </div>
                          <div class="swiper-slide">
                            <img src="assets/img/image-galeria-5.png" />
                          </div>
  
                      </div>
                      <div class="swiper-pagination"></div>
                      <div class="swiper-button-next">
                          <img src="../../../assets/icons/play2.png" alt="arrow-right" class="btn-arrow-next" />
                      </div>
                        <div class="swiper-button-prev">
                          <img src="../../../assets/icons/play2.png" alt="arrow-right" class="btn-arrow-prev" />
  
                        </div>
                    </div>
                </div>

                <div class="col-md-12 container-horarios">
                    <h1 class="text-resaltado title-horario">Horarios</h1>
                    <div class="d-flex flex-column flex-md-column justify-content-center w-100">
                        <div class="horario">
                            <h3 class="text-white mb-0
                            ">Lunes a Viernes</h3>
                            <h3 class="text-white
                            ">8:00 am - 11:00 pm</h3>
                        </div>

                        <hr class="separator" />

                        <div class="horario">
                            <h3 class="text-white mb-0
                            ">Sábado</h3>
                            <h3 class="text-white
                            ">9:00 am - 11:00 pm</h3>
                        </div>

                        <hr class="separator" />

                        <div class="horario">
                            <h3 class="text-white mb-0
                            ">Domingo</h3>
                            <h3 class="text-white
                            ">10:00 am - 8:00 pm</h3>
                        </div>
                    </div>
                </div>                  
                </div>
            </tab>
            
            <tab>
                <ng-template tabHeading>
                  <div class="d-flex p-2">
                      <h1 class="text-white tab-title d-flex">
                          SEDE SUR</h1>
                          <img src="../../../assets/icons/ubicacion3.png" alt="ubicacion" class="icon-title" />
                  </div>
                </ng-template>
                <div>
                  <div>
                      <h2 class="text-white mb-1">Dirección</h2>
                      <p class="direccion-text">Av. 25 de Julio(Frente al Mall del Sur), Guayaquil, Ecuador</p>
                  </div>
                  <div class="section galeria">
  
                      <div class="swiper-galeria mySwiper">
                        <div class="swiper-wrapper">
                          <div class="swiper-slide">
                            <img src="assets/img/image-galeria.png" />
                          </div>
                          <div class="swiper-slide">
                            <img src="assets/img/image-galeria-1.png" />
                          </div>
                          <div class="swiper-slide">
                            <img src="assets/img/image-galeria-2.png" />
                          </div>
                          <div class="swiper-slide">
                            <img src="assets/img/image-galeria-3.png" />
                          </div>
                          <div class="swiper-slide">
                            <img src="assets/img/image-galeria-4.png" />
                          </div>
                          <div class="swiper-slide">
                            <img src="assets/img/image-galeria-5.png" />
                          </div>
  
                      </div>
                      <div class="swiper-pagination"></div>
                      <div class="swiper-button-next">
                          <img src="../../../assets/icons/play2.png" alt="arrow-right" class="btn-arrow-next" />
                      </div>
                        <div class="swiper-button-prev">
                          <img src="../../../assets/icons/play2.png" alt="arrow-right" class="btn-arrow-prev" />
  
                        </div>
                    </div>
                    </div>

                    <div class="col-md-12 container-horarios">
                        <h1 class="text-resaltado title-horario">Horarios</h1>
                        <div class="d-flex flex-column flex-md-column justify-content-center w-100">
                            <div class="horario">
                                <h3 class="text-white mb-0
                                ">Lunes a Viernes</h3>
                                <h3 class="text-white
                                ">9:00 am - 10:00 pm</h3>
                            </div>
    
                            <hr class="separator" />
    
                            <div class="horario">
                                <h3 class="text-white mb-0
                                ">Sábado</h3>
                                <h3 class="text-white
                                ">9:00 am - 10:00 pm</h3>
                            </div>
    
                            <hr class="separator" />
    
                            <div class="horario">
                                <h3 class="text-white mb-0
                                ">Domingo</h3>
                                <h3 class="text-white
                                ">10:00 am - 8:00 pm</h3>
                            </div>
                        </div>
                    </div>
                </div>
            </tab>
          </tabset>
        </div>
      </div>
      
    </div>
    <div>
      
    </div>
  </div>
  <app-horario></app-horario>

  <div>
    <app-mapa></app-mapa>
  </div>
  <div>
    <app-contactanos-footer></app-contactanos-footer>
  </div>

  