<div class="container-contactanos">
    <div class="contactanos-header">
        <img src="assets/img/header-contactanos.png" alt="contactanos" class="img-fluid">
    </div>
    <div class="contactanos-body">
        <div class="container-title">
            <h1 class="title text-start font-weight-bold">
                CONTÁCTANOS
            </h1>
            <div class="card-group contactanos-info">
                <div class="card sede-info">
                    <img src="assets/icons/contacto.png" alt="contacto" class="img-fluid align-self-start">
                    <h1 class="text-white font-weight-bold">GUAYAQUIL</h1>
                    <div class="">
                        <h3 class="text-white"><i class="fas fa-map-marker-alt">

                        </i> Av. Rodolfo Baquerizo Nazur y Av. Juan Tanca Marengo</h3>
                        <h3 class="text-white"><i class="fas fa-phone"></i> 04 600 0000</h3>
                        <h3 class="text-white"><i class="fas fa-envelope"></i>
                            administracion&#64;novagym.com.ec
                        </h3>
                    </div>
                </div>
                <div class="card sede-info">
                    <img src="assets/icons/contacto.png" alt="contacto" class="img-fluid align-self-start">
                    <h1 class="text-white font-weight-bold">MACHALA</h1>
                    <div class="">
                        <h3 class="text-white"><i class="fas fa-map-marker-alt">
                        </i> Primero de Mayo y Los Ríos, Machala, Ecuador</h3>
                        <h3 class="text-white"><i class="fas fa-phone"></i> 04 600 0000</h3>
                        <h3 class="text-white"><i class="fas fa-envelope"></i>
                            administracion&#64;novagym.com.ec
                        </h3>
                    </div>
                </div>
            </div>
                    
        </div>
    </div>
    <div class="contactanos-mapa">
        <app-mapa [selectedUbicacion]="1" [mostrarSidebar]="false"></app-mapa>
    </div>
    <app-contactanos-footer></app-contactanos-footer>
</div>