.container-membresias{
    margin-top: 3rem;
}
h1{
    color: white;
    font-size: 2.5rem;
    font-weight: 700;
    margin-top: 1rem;
}
.membresias{
    padding: 0 5rem;
}  

//sedes
.card-sedes{
    text-align: start;
    background: white !important;
    border: none !important;
    border-radius: 0 !important;
    margin-bottom: 0 !important;
    height: 450px;
    .card-img-top{
        width: 100%;
        height: 200px !important;
        object-fit: cover;
    }
    .card-body{
        padding: 1.5rem !important;
        border-radius: 0 !important;

        p{
            color: black !important;
            font-weight: 600;
        }
        h5{
            color: black !important;
            font-size: 1.5rem;
        }
        h6{
            color: black !important;
            font-size: 1rem;
        }
    }

    .card-footer:hover{
        cursor: pointer;
    }

    .card-footer-active{
        background: #E3DF00 !important;
    }

    .card-footer{
        border-top: 2px solid black !important;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        h1{
            color: black !important;
            font-size: 1.5rem;
            margin-top: 0;
            margin-bottom: 0;
            font-weight: 700;
            margin-left: 3rem;
        }
    }
}
    //planes
    .planes::before {
        content: "";
        background-image: url('../../../assets/img/background-noticias.webp');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        opacity: 0.3; /* Ajusta este valor para cambiar la opacidad */
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 0;
      }
      
      .planes {
        h1{
            font-size: 3rem;
        }
        h2{
            font-size: 1.50rem;
        }
        .table-dark {
            position: relative;
            z-index: 2; /* Asegura que el contenido esté por encima de la imagen de fondo */
            border: 1px solid black;
          }
      }
      

    .table-dark{
        background: transparent !important;
        --bs-table-bg: transparent !important;

        h3{
            margin-bottom: 0px;
        }
    }
    td{
        vertical-align: super !important;
        color: black !important;
        background: white !important;
        padding: 4rem;
        border: 2.5rem solid black !important;

        h5,h6,li{
            font-weight: 700 !important;
        }
    }

    .nombre-plan{
        font-weight: 900 !important;
        font-size: 2.25rem !important;
        color: black;
    }

    .title-plan{
        font-weight: bold;
        font-size: 2rem;
        color: black;
        p{
            display: contents;
            font-weight: bold;
            font-size: 1rem;
            color: black;
        }
    }
    .subtitle-plan{
        text-align: end;
        color: #E3DF00;
        margin-right: 1rem;
    }

    .li{
        font-weight: bold;
        list-style: disc !important;

    }

    li::marker{
        color: #E3DF00;
    }

    .list-planes{
        text-align: start;
        list-style: disc !important;
        li{
            margin-top: 1rem;
            color: black;
        }
        h6{
            font-weight: normal;
        }
        *.icon {
            width: 16px;  /* Ajusta el tamaño del icono */
            height: 16px; /* Ajusta el tamaño del icono */
            margin-right: 8px; /* Espacio entre el icono y el texto */
            margin-left: -1.2rem;
            vertical-align: middle; /* Alinea el icono con el texto */
          }
    }

    .container-td-planes{
        display: flex;
        flex-wrap: wrap;
    }

.td-planes{
    display: flex;
    flex-direction: column;
        position: relative;
        vertical-align: super !important;
        
/* Estilos para el contenedor del botón */
    .costo-plan{
        display: flex;
        flex-direction: column;
        margin-top: auto;
        justify-self: center;
        width: 100%;

        .btn-planes{
            background: white !important;
            border-top: 2px solid black !important;
            width: 100%;
            display: flex;
            flex-direction: row;
            align-content: center;
            justify-content: center;
            align-items: center;
        }

        .btn-planes:hover{
            background: #E3DF00 !important;
            color: black !important;
        }

        .btn-planes-active{
            background:#E3DF00 !important;
            color: black !important;
        }
    }
    .card-footer{
        height: 150px;
        background: white !important;
    }
}

  .btn-registro{
    margin-top: 5rem;
    font-size: 1.5rem;
}

.btn-continuar{
    margin: 3rem 0;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: center;
    .btn-primary{
    font-size: 1.5rem;
    font-weight: 600;
    }

}
.custom-select{
    color: black;
}

@media (max-width: 1024px) {

    .membresias{
        padding: 0 2rem;
    }

    td{
        vertical-align: super !important;
        color: black !important;
        background: white !important;
        padding: 2rem;
        border: 1rem solid black !important;

        h5,h6,li{
            font-weight: 700 !important;
        }
    }

    .card-footer{
        h1{
            margin-left: 0px !important;
        }
    }

    .nombre-plan{
        font-size: 2rem !important;
    }
}
@media (max-width: 768px) {
    .td-planes{
        border: 0.5rem solid black !important;
    }
    

}