

  <!--Footer-->
  <footer class="footer">
    <div class="container container-footer ">
      <div class="row">
        <div class="col-md-3"><h1 class="footer-title">nova<span class="text-resaltado">gym</span>

        </h1></div>
        <div class="col-md-4">
        </div>
        <div class="col-md-3">
          <h3 class="title">Síguenos</h3>
          <div class="btn-wrapper container-redes">
            <a
              class="btn btn-icon btn-neutral btn-round btn-simple mr-1"
              href=""
              target="_blank"
            >
              <img src="../../../assets/icons/ig.png" alt="twitter"  class="footer-icon" />
            </a>
            <a
              class="btn btn-icon btn-neutral btn-round btn-simple mr-1"
              href=""
              target="_blank"
            >
              <img src="../../../assets/icons/fb.png" alt="twitter"  class="footer-icon" />
            </a>
            <a
              class="btn btn-icon btn-neutral btn-round btn-simple mr-1"
              href=""
              target="_blank"
            >
              <img src="../../../assets/icons/tiktok.png" alt="facebook"  class="footer-icon" />
            </a>
            <a
              class="btn btn-icon btn-neutral btn-round btn-simple"
              href=""
              target="_blank"
            >
              <img src="../../../assets/icons/in.png" alt="instagram"  class="footer-icon" />
            </a>
          </div>
        </div>

        <div class="col-md-2 text-center mt-2">
            <a href="#top" class="btn-top">
              <img src="../../../assets/icons/BOTON-DE-SUBIR.png" alt="flecha"/>
            </a>
        </div>
      </div>
    </div>
  </footer>