.navbar{
    border-bottom: 1px solid #E3DF00;
}

.navbar-nav .nav-link.active {
    font-weight: bold; /* Opcional: hacer el enlace activo en negrita */
  }
  

  .text-resaltado{
    color: #E3DF00 !important;
}

.container-navbar{
    margin-left: 1rem;
    display: flex;
}


.navbar-brand{
    position: relative; 
    /* padding-top: 0.3125rem; */
    /* padding-bottom: 0.3125rem; */
    font-size: 1rem;
    .text-resaltado{
        color: #E3DF00 !important;
    }
}

h1{
    font-size: 1rem;
    font-weight: 600;
    padding-bottom: 0;
    margin-bottom: 0;
}



.registrate{
    color: black !important;
}

.logo{
    width: 310px !important;
    height: 60px !important;
}

@media (min-width: 1200px) {
    .container-navbar {
        max-width: 1200px !important;
    }
}
