  <!--Horarios-->
  <div class="horarios">
    <div class="container">
      <div class="row justify-content-between align-items-center">
        <div class="col-lg-12 mb-5 mb-lg-0">
          <h1 class="text-white font-weight-light text-center font-weight-bold">
            CLASES NOVA HORARIOS
          </h1>
        </div>
      </div>
      <div>
        <div>
          <tabset class="nav-tabs-primary justify-content-center">
            <tab>
              <ng-template tabHeading>
                <i class="tim-icons icon-spaceship"> </i> ALL TRAININGS
              </ng-template>
              <table class="table table-bordered table-dark table-horarios">
                <thead>
                  <tr>
                    <th></th>
                    <th scope="col" class="text-center titles">LUNES</th>
                    <th scope="col" class="text-center titles">MARTES</th>
                    <th scope="col" class="text-center titles">MIÉRCOLES</th>
                    <th scope="col" class="text-center titles">JUEVES</th>
                    <th scope="col" class="text-center titles">VIERNES</th>
                    <th scope="col" class="text-center titles">SÁBADO</th>
                    <th scope="col" class="text-center titles">DOMINGO</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row titles">07:00 - 08:00</th>
                    <td
                    class="text-center">
                      
                      FITNESS CLASS
                      <h5>Gloria Parker</h5>
                      <div class="description">
                        REGULAR
                      </div>
                    </td>
                    <td class = "text-center">OPEN GYM <h5>Madison Fran</h5>
                      <div class="description">
                        FREE
                      </div></td>
                    <td class = "text-center"></td>
                    <td class = "text-center">CARDIO BOX <h5>Lisa Stewrart</h5>
                      <div class="description">
                        REGULAR
                      </div></td>
                    <td class = "text-center">INTENSE BODYBUILDING  <h5>Jacob McDonald</h5>
                      <div class="description">
                        Strength
                      </div></td>
                    <td class = "text-center"></td>
                    <td class = "text-center"></td>
                  </tr>
                  <tr>
                    <th scope="row titles">08:00 - 09:00</th>
                    <td class="text-center">OPEN GYM <h5>Madison Fran</h5>
                      <div class="description">
                        FREE
                      </div></td>
                    <td class = "text-center"></td>
                    <td class = "text-center">BODY BALANCE <h5>William Dixon</h5>
                      <div class="description">
                        LITE
                      </div></td>
                    <td class = "text-center">OPEN GYM <h5>Madison Fran</h5>
                      <div class="description">
                        LITE
                      </div></td>
                    <td class = "text-center"></td>
                    <td class = "text-center">BODY PUMP <h5>Melanie Payne</h5>
                      <div class="description">
                        REGULAR
                      </div></td>
                    <td class = "text-center">CROSSFIT <h5>William Dixon</h5>
                      <div class="description">
                        Strength
                      </div></td>
                  </tr>
                  <tr>
                    <th scope="row titles">09:00 - 10:00</th>
                    <td class="text-center"></td>
                    <td class = "text-center">INTENSE BODYBUILDING <h5>Jacob McDonald</h5>
                      <div class="description">
                        Strength
                      </div></td>
                    <td class = "text-center">CROSSFIT <h5>William Dixon</h5>
                      <div class="description">
                        Strength
                      </div></td>
                    <td class = "text-center">OPEN GYM <h5>Madison Fran</h5>
                      <div class="description">
                        FREE
                      </div></td>
                    <td class = "text-center">BODY BALANCE <h5>William Dixon</h5>
                      <div class="description">
                        LITE
                      </div></td>
                    <td class = "text-center">OPEN GYM <h5>Madison Fran</h5>
                      <div class="description">
                        FREE
                      </div></td>
                    <td class = "text-center">INTENSE BODYBUILDING <h5>Jacob McDonald</h5>
                      <div class="description">
                        Strength
                      </div></td>
                  </tr>
                  <tr>
                    <th scope="row titles">10:00 - 11:00</th>
                    <td class="text-center">CARDIO BOX  <h5>Lisa Stewrart</h5>
                      <div class="description">
                        REGULAR
                      </div></td>
                    <td class = "text-center">INTENSE BODYBUILDING <h5>Jacob McDonald</h5>
                      <div class="description">
                        Strength
                      </div></td>
                    <td class = "text-center">FITNESS CLASS <h5>Gloria Parker</h5>
                      <div class="description">
                        REGULAR
                      </div></td>
                    <td class = "text-center"></td>
                    <td class = "text-center">CARDIO BOX  <h5>Lisa Stewrart</h5>
                      <div class="description">
                        REGULAR
                      </div></td>
                    <td class = "text-center"></td>
                    <td class = "text-center">INTENSE BODYBUILDING <h5>Jacob McDonald</h5>
                      <div class="description">
                        Strength
                      </div></td>
                  </tr>
                  <tr>
                    <th scope="row titles">11:00 - 12:00</th>
                    <td class="text-center"></td>
                    <td class = "text-center">BODY PUMP <h5>Melanie Payne</h5>
                      <div class="description">
                        LITE
                      </div></td>
                    <td class = "text-center"></td>
                    <td class = "text-center">CARDIO BOX  <h5>Lisa Stewrart</h5>
                      <div class="description">
                        REGULAR
                      </div></td>
                    <td class = "text-center"></td>
                    <td class = "text-center">OPEN GYM <h5>Madison Fran</h5>
                      <div class="description">
                        FREE
                      </div></td>
                    <td class = "text-center">FITNESS CLASS <h5>Gloria Parker</h5>
                      <div class="description">
                        Regular
                      </div></td>
                  </tr>
                    
                </tbody>
            </table>
            </tab>
            <tab>
              <ng-template tabHeading>
                <i class="tim-icons icon-settings-gear-63"> </i> BODYBUILDING
              </ng-template>
              <!--La misma tabla pero filtrado por BODYBUILDING-->
              <table class="table table-bordered table-dark table-horarios">
                <thead>
                  <tr>
                    <th></th>
                    <th scope="col" class="text-center titles">LUNES</th>
                    <th scope="col" class="text-center titles">MARTES</th>
                    <th scope="col" class="text-center titles">MIÉRCOLES</th>
                    <th scope="col" class="text-center titles">JUEVES</th>
                    <th scope="col" class="text-center titles">VIERNES</th>
                    <th scope="col" class="text-center titles">SÁBADO</th>
                    <th scope="col" class="text-center titles">DOMINGO</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row titles">07:00 - 08:00</th>
                    <td class = "text-center"></td>

                    <td class = "text-center"></td>

                    <td class = "text-center"></td>
                    <td class = "text-center"></td>

                    <td class = "text-center">INTENSE BODYBUILDING  <h5>Jacob McDonald</h5>
                      <div class="description">
                        Strength
                      </div></td>
                    <td class = "text-center"></td>
                    <td class = "text-center"></td>
                  </tr>
                  <tr>
                    <th scope="row titles">08:00 - 09:00</th>
                    <td class = "text-center"></td>

                    <td class = "text-center"></td>
                    <td class = "text-center">BODY BALANCE <h5>William Dixon</h5>
                      <div class="description">
                        LITE
                      </div></td>
                      <td class = "text-center"></td>

                    <td class = "text-center"></td>
                    <td class = "text-center">BODY PUMP <h5>Melanie Payne</h5>
                      <div class="description">
                        REGULAR
                      </div></td>
                      <td class = "text-center"></td>

                  </tr>
                  <tr>
                    <th scope="row titles">09:00 - 10:00</th>
                    <td class="text-center"></td>
                    <td class = "text-center">INTENSE BODYBUILDING <h5>Jacob McDonald</h5>
                      <div class="description">
                        Strength
                      </div></td>
                      <td class = "text-center"></td>

                      <td class = "text-center"></td>

                    <td class = "text-center">BODY BALANCE <h5>William Dixon</h5>
                      <div class="description">
                        LITE
                      </div></td>
                      <td class = "text-center"></td>

                    <td class = "text-center">INTENSE BODYBUILDING <h5>Jacob McDonald</h5>
                      <div class="description">
                        Strength
                      </div></td>
                  </tr>
                  <tr>
                    <th scope="row titles">10:00 - 11:00</th>
                    <td class = "text-center"></td>

                    <td class = "text-center">INTENSE BODYBUILDING <h5>Jacob McDonald</h5>
                      <div class="description">
                        Strength
                      </div></td>
                      <td class = "text-center"></td>

                    <td class = "text-center"></td>
                    <td class = "text-center"></td>

                    <td class = "text-center"></td>
                    <td class = "text-center">INTENSE BODYBUILDING <h5>Jacob McDonald</h5>
                      <div class="description">
                        Strength
                      </div></td>
                  </tr>
                  <tr>
                    <th scope="row titles">11:00 - 12:00</th>
                    <td class="text-center"></td>
                    <td class = "text-center">BODY PUMP <h5>Melanie Payne</h5>
                      <div class="description">
                        LITE
                      </div></td>
                    <td class = "text-center"></td>
                    <td class = "text-center"></td>

                    <td class = "text-center"></td>
                    <td class = "text-center"></td>

                    <td class = "text-center"></td>
                  </tr>
                    
                </tbody>
            </table>

            </tab>
            <tab>
              <ng-template tabHeading>
                <i class="tim-icons icon-bag-16"> </i> CARDIO
              </ng-template>
              <!--La misma tabla pero filtrado por CARDIO-->
              <table class="table table-bordered table-dark table-horarios">
                <thead>
                  <tr>
                    <th></th>
                    <th scope="col" class="text-center titles">LUNES</th>
                    <th scope="col" class="text-center titles">MARTES</th>
                    <th scope="col" class="text-center titles">MIÉRCOLES</th>
                    <th scope="col" class="text-center titles">JUEVES</th>
                    <th scope="col" class="text-center titles">VIERNES</th>
                    <th scope="col" class="text-center titles">SÁBADO</th>
                    <th scope="col" class="text-center titles">DOMINGO</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row titles">07:00 - 08:00</th>
                    <td class = "text-center"></td>
                    <td class = "text-center"></td>
                    <td class = "text-center"></td>
                    <td class = "text-center">CARDIO BOX <h5>Lisa Stewrart</h5>
                      <div class="description">
                        REGULAR
                      </div></td>
                    <td class = "text-center"></td>
                    <td class = "text-center"></td>
                    <td class = "text-center"></td>
                  </tr>
                  <tr>
                    <th scope="row titles">08:00 - 09:00</th>
                    <td class = "text-center"></td>
                    <td class = "text-center"></td>
                    <td class = "text-center"></td>
                    <td class = "text-center"></td>
                    <td class = "text-center"></td>
                    <td class = "text-center"></td>
                    <td class = "text-center"></td>

                  </tr>
                  <tr>
                    <th scope="row titles">09:00 - 10:00</th>
                    <td class = "text-center"></td>
                    <td class = "text-center"></td>
                    <td class = "text-center"></td>
                    <td class = "text-center"></td>
                    <td class = "text-center"></td>
                    <td class = "text-center"></td>
                    <td class = "text-center"></td>
                  </tr>
                  <tr>
                    <th scope="row titles">10:00 - 11:00</th>
                    <td class = "text-center">CARDIO BOX <h5>Lisa Stewrart</h5>
                      <div class="description">
                        REGULAR
                      </div></td>
                    <td class = "text-center"></td>
                    <td class = "text-center"></td>
                    <td class = "text-center"></td>
                    <td class = "text-center"></td>
                    <td class = "text-center"></td>
                    <td class = "text-center"></td>
                  </tr>
                  <tr>
                    <th scope="row titles">11:00 - 12:00</th>
                    <td class = "text-center"></td>
                    <td class = "text-center"></td>
                    <td class = "text-center"></td>
                    <td class = "text-center">CARDIO BOX <h5>Lisa Stewrart</h5>
                      <div class="description">
                        REGULAR
                      </div></td>
                      <td class = "text-center">CARDIO BOX <h5>Lisa Stewrart</h5>
                        <div class="description">
                          REGULAR
                        </div></td>
                    <td class = "text-center"></td>
                    <td class = "text-center"></td>
                  </tr>

                </tbody>
            </table>
            </tab>
            <tab>
              <ng-template tabHeading>
                <i class="tim-icons icon-spaceship"> </i> GYM
              </ng-template>
              <table class="table table-bordered table-dark table-horarios">
                <thead>
                  <tr>
                    <th></th>
                    <th scope="col" class="text-center titles">LUNES</th>
                    <th scope="col" class="text-center titles">MARTES</th>
                    <th scope="col" class="text-center titles">MIÉRCOLES</th>
                    <th scope="col" class="text-center titles">JUEVES</th>
                    <th scope="col" class="text-center titles">VIERNES</th>
                    <th scope="col" class="text-center titles">SÁBADO</th>
                    <th scope="col" class="text-center titles">DOMINGO</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row titles">07:00 - 08:00</th>
                    <td class = "text-center"></td>

                    <td class = "text-center">OPEN GYM <h5>Madison Fran</h5>
                      <div class="description">
                        FREE
                      </div></td>
                    <td class = "text-center"></td>
                    <td class = "text-center"></td>

                    <td class = "text-center"></td>

                    <td class = "text-center"></td>
                    <td class = "text-center"></td>
                  </tr>
                  <tr>
                    <th scope="row titles">08:00 - 09:00</th>
                    <td class="text-center">OPEN GYM <h5>Madison Fran</h5>
                      <div class="description">
                        FREE
                      </div></td>
                    <td class = "text-center"></td>
                    <td class = "text-center"></td>

                    <td class = "text-center">OPEN GYM <h5>Madison Fran</h5>
                      <div class="description">
                        LITE
                      </div></td>
                    <td class = "text-center"></td>
                    <td class = "text-center"></td>

                    <td class = "text-center"></td>

                  </tr>
                  <tr>
                    <th scope="row titles">09:00 - 10:00</th>
                    <td class="text-center"></td>
                    <td class = "text-center"></td>

                    <td class = "text-center"></td>

                    <td class = "text-center">OPEN GYM <h5>Madison Fran</h5>
                      <div class="description">
                        FREE
                      </div></td>
                      <td class = "text-center"></td>

                    <td class = "text-center">OPEN GYM <h5>Madison Fran</h5>
                      <div class="description">
                        FREE
                      </div></td>
                      <td class = "text-center"></td>

                  </tr>
                  <tr>
                    <th scope="row titles">10:00 - 11:00</th>
                    <td class = "text-center"></td>

                    <td class = "text-center"></td>

                    <td class = "text-center"></td>
                    <td class = "text-center"></td>
                    <td class = "text-center"></td>

                    <td class = "text-center"></td>
                    <td class = "text-center"></td>

                  </tr>
                  <tr>
                    <th scope="row titles">11:00 - 12:00</th>
                    <td class="text-center"></td>
                    <td class = "text-center"></td>

                    <td class = "text-center"></td>
                    <td class = "text-center"></td>

                    <td class = "text-center"></td>
                    <td class = "text-center">OPEN GYM <h5>Madison Fran</h5>
                      <div class="description">
                        FREE
                      </div></td>
                      <td class = "text-center"></td>

                  </tr>
                    
                </tbody>
            </table>
            </tab>
            <tab>
              <ng-template tabHeading>
                <i class="tim-icons icon-spaceship"> </i> POWERLIFTING
              </ng-template>
              <table class="table table-bordered table-dark table-horarios">
                <thead>
                  <tr>
                    <th></th>
                    <th scope="col" class="text-center titles">LUNES</th>
                    <th scope="col" class="text-center titles">MARTES</th>
                    <th scope="col" class="text-center titles">MIÉRCOLES</th>
                    <th scope="col" class="text-center titles">JUEVES</th>
                    <th scope="col" class="text-center titles">VIERNES</th>
                    <th scope="col" class="text-center titles">SÁBADO</th>
                    <th scope="col" class="text-center titles">DOMINGO</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row titles">07:00 - 08:00</th>
                    <td class = "text-center"></td>

                    <td class = "text-center"></td>

                    <td class = "text-center"></td>
                    <td class = "text-center"></td>

                    <td class = "text-center"></td>

                    <td class = "text-center"></td>
                    <td class = "text-center"></td>
                  </tr>
                  <tr>
                    <th scope="row titles">08:00 - 09:00</th>
                    <td class = "text-center"></td>

                    <td class = "text-center"></td>
                    <td class = "text-center"></td>

                    <td class = "text-center"></td>

                    <td class = "text-center"></td>
                    <td class = "text-center"></td>

                    <td class = "text-center">CROSSFIT <h5>William Dixon</h5>
                      <div class="description">
                        Strength
                      </div></td>
                  </tr>
                  <tr>
                    <th scope="row titles">09:00 - 10:00</th>
                    <td class="text-center"></td>
                    <td class = "text-center"></td>

                    <td class = "text-center">CROSSFIT <h5>William Dixon</h5>
                      <div class="description">
                        Strength
                      </div></td>
                      <td class = "text-center"></td>
                      <td class = "text-center"></td>

                      <td class = "text-center"></td>
                      <td class = "text-center"></td>

                  </tr>
                  <tr>
                    <th scope="row titles">10:00 - 11:00</th>
                    <td class = "text-center"></td>
                    <td class = "text-center"></td>
                    <td class = "text-center"></td>
                    <td class = "text-center"></td>
                    <td class = "text-center"></td>

                    <td class = "text-center"></td>
                    <td class = "text-center"></td>

                  </tr>
                  <tr>
                    <th scope="row titles">11:00 - 12:00</th>
                    <td class="text-center"></td>
                    <td class = "text-center"></td>

                    <td class = "text-center"></td>
                    <td class = "text-center"></td>

                    <td class = "text-center"></td>
                    <td class = "text-center"></td>

                    <td class = "text-center"></td>

                  </tr>
                    
                </tbody>
            </table>
            </tab>
          </tabset>
        </div>

      </div>
    </div>
  </div>