.container-modificar-datos{
    padding: 0 3rem 3rem 3rem;

    .container{
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-content: center;
        justify-content: center;
        align-items: center;
        .container-datos{
            display: flex;
            flex-direction: column;
            h3{
                color: #E3DF00;
                display: flex;
                justify-content: center;
                align-items: center;
            }
            .datos{
                padding: 2rem;
                border: 1px solid white;

                .resumen-info{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    align-content: center;                
                    h5{
                        margin-bottom: 0;
                    }
                }
            }
        }
    }

    .container-botones{
        width: 100%;
        margin-top: 2rem;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        
        .botones{
            width: 40%;
            border-top: 1px solid white;
            padding-top: 2rem;
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            align-items: center;
            align-content: center; 
            
            .btn-primary{
                font-size: 1.2rem;
                font-weight: 700;
            }
        }
    }
}

h3,
input{
    color: white;
    font-size: 1.5rem;
    margin-left: 1rem;
}

textarea{
    color: white;
    font-size: 1.2rem;
    margin-left: 1rem;
}

h5{
    color: #E3DF00;
    font-size: 1.5rem;
}

@media(max-width: 1024px){
    .botones{
        width: 60% !important;
    }
}

@media(max-width: 768px){
    .botones{
        width: 80% !important;
    }
}

@media (max-width: 426px) {
    .resumen-info{
        flex-direction: column !important;
        align-items: flex-start !important;
    }
    .botones{
        width: 100% !important;
        flex-direction: column !important;
    }

    input{
        color: white;
        font-size: 1.5rem;
        margin-left: 0px !important;
    }
}

@media (max-width: 376px) {
    .title{
        h1{
            margin-left: 1rem !important;
        }
    }

    .title-datos{
        h3{
            margin-left: 0px !important;
        }
    }
    .container-modificar-datos{
        padding: 0px !important;
    }
}