

<div class="contactanos-footer">
    <div class="card-group">
        <div class="card">
          <div class="contactanos">
            <h1>CONTÁCTANOS</h1>
            <h5>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit, consequuntur.
                 Totam assumenda, quod iure repudiandae ex minima dolore repellendus laudantium quaerat omnis sapiente,
                  optio reiciendis praesentium voluptatum delectus, incidunt quisquam?
            </h5>
            <ul  class="list-planes">
                <li>Lorem ipsum dolor sit, amet consectetur adipisicing elit.</li>
                <li>Lunes a Viernes de 6:00 a 22:00</li>
                <li>Correo electrónico: novagym&#64;gmail.com </li>
                <li>Teléfono: 0987654321</li>
            </ul>
          </div>
        </div>
        <div class="card card-form">
            <div class="align-self-center">
                <h1>nova<span class="text-resaltado">gym</span></h1>
            </div>
          <div class="form-contactanos">
            <form class="form-cont">
                <div class="input-group">
                  <input
                    class="form-control"
                    placeholder="NOMBRE Y APELLIDO"
                    type="text"
                  />
                </div>
                <div class="input-group">
                    <input
                      class="form-control"
                      placeholder="EMAIL"
                      type="text"
                    />
                  </div>
                <div class="input-group">
                  <textarea
                    class="form-control"
                    placeholder="MENSAJE"
                    type="text"
                    ></textarea>
                </div>
                <div class="input-group">
                    <input
                      class="form-control foto"
                      placeholder="FOTO"
                      type="text"
                    />                   
                  </div>
                  <div class="text-center mt-4">
                    <a class="btn btn-primary t-4 font-weight-bold"
                    href="https://demos.creative-tim.com/blk-design-system-angular/#/documentation/alerts">
                      <span class="btn-inner-sedes">
                        ENVIAR
                      </span>
                    </a>
                  </div>
              </form>
          </div>
      
        </div>
    </div>
</div>