

<div class="contactanos-footer">
    <div class="card-group">
        <div class="card">
          <div class="contactanos">
            <h1>CONTÁCTANOS</h1>
            <h5>
              Estamos aquí para ayudarte:<br>
              Visítanos o contáctanos por nuestros canales disponibles.
            </h5>
            <ul  class="list-planes">
                <li>Direccion: Alborada 3era Etapa, Av. Guillermo Pareja Rolando entre plaza mayor 1 y 2.</li>
                <li>Correo: administracion&#64;novagym.com.ec</li>
                <li>Teléfono: +593 98 109 8607</li>
                <li>Horario: 9:00 a 16:00 </li>
            </ul>
          </div>
        </div>
        <div class="card card-form">
            <div class="align-self-center">
                <h1>nova<span class="text-resaltado">gym</span></h1>
            </div>
          <div class="form-contactanos">
            <form class="form-cont">
                <div class="input-group">
                  <input
                    class="form-control"
                    placeholder="NOMBRE Y APELLIDO"
                    type="text"
                  />
                </div>
                <div class="input-group">
                    <input
                      class="form-control"
                      placeholder="EMAIL"
                      type="text"
                    />
                  </div>
                <div class="input-group">
                  <textarea
                    class="form-control"
                    placeholder="MENSAJE"
                    type="text"
                    ></textarea>
                </div>
                <div class="input-group">
                    <input
                      class="form-control foto"
                      placeholder="FOTO"
                      type="text"
                    />                   
                  </div>
                  <div class="text-center mt-4">
                    <a class="btn btn-primary t-4 font-weight-bold"
                    href="">
                      <span class="btn-inner-sedes">
                        ENVIAR
                      </span>
                    </a>
                  </div>
              </form>
          </div>
      
        </div>
    </div>
</div>