<div class="container-pago" 
[ngClass]="{'container-pago-membresia': flujo == 'membresia'}"
*ngIf="isPago">
    <div class="title">
        <h1><span class="text-resaltado">OPCIÓN DE PAGO</span></h1>
        <hr>
    </div>
    <div class="tarjeta">
        <div class="tarj-title">
            <h3>Seleccione la Tarjeta</h3>
        </div>
        <div class="tarj-content">
            <div class="tarj" *ngFor="let tarj of tarjetas">
                <div class="tarj-img">
                    <img src="assets/img/visa.png" alt="visa">
                </div>
                <div class="tarj-info">
                    <h5>Visa</h5>
                    <p>**** **** **** {{tarj.lastDigits}} </p>
                    <h6 class="expira">{{tarj.payerName}} {{tarj.payerSurname}}</h6>
                </div>
                <div class="tarj-select">
                    <input type="radio" name="tarjeta" id="visa">
                </div>
            </div>

            <i class="bi bi-plus-circle"></i>
        </div>
        <div class="btn-continuar">
            <button class="btn btn-primary" (click)="continuarPago()">Continuar</button>
        </div>
    </div>
</div>

<app-modificar-datos *ngIf="!isPago"></app-modificar-datos>