<div class="container-pago" 
[ngClass]="{'container-pago-membresia': flujo == 'membresia'}"
*ngIf="isPago">
    <div class="title">
        <h1><span class="text-resaltado">OPCIÓN DE PAGO</span></h1>
        <hr>
    </div>
    <div class="tarjeta">
        <div class="tarj-title">
            <h3>Seleccione la Tarjeta</h3>
        </div>
        <div class="tarj-content">
            <div class="tarj">
                <div class="tarj-img">
                    <img src="assets/img/visa.png" alt="visa">
                </div>
                <div class="tarj-info">
                    <h5>Visa</h5>
                    <p>**** **** **** 1234</p>
                    <h6 class="expira">Expira 12/24</h6>
                </div>
                <div class="tarj-select">
                    <input type="radio" name="tarjeta" id="visa">
                </div>
            </div>
            <div class="tarj">
                <div class="tarj-img">
                    <img src="assets/img/mastercard.png" alt="mastercard">
                </div>
                <div class="tarj-info">
                    <h5>Mastercard</h5>
                    <p>**** **** **** 5678</p>
                    <h6 class="expira">Expira 02/26</h6>
                </div>
                <div class="tarj-select">
                    <input type="radio" name="tarjeta" id="mastercard">
                </div>
            </div>
            <div class="tarj">
                <div class="tarj-img">
                    <img src="assets/img/amex.png" alt="american-express">
                </div>
                <div class="tarj-info">
                    <h5>American Express</h5>
                    <p>**** **** **** 9012</p>
                    <h6 class="expira">Expira 08/29</h6>
                </div>
                <div class="tarj-select">
                    <input type="radio" name="tarjeta" id="american-express">
                </div>
            </div>
            <i class="bi bi-plus-circle"></i>
        </div>
        <div class="btn-continuar">
            <button class="btn btn-primary" (click)="continuarPago()">Continuar</button>
        </div>
    </div>
</div>

<app-modificar-datos *ngIf="!isPago"></app-modificar-datos>