<div class="container-clases">
  <div class="clases-header">
          <div class="container-title">
              <h1 class="title text-center">
                  ENTRENAMIENTO
              </h1>
          </div>
  </div>
  <div class="col-md-12 container-info-clases">
      <div class="mt-4">
          <h1 class="title-horario">CROSSTRAINING</h1>
      </div>
      <div>
          <img src="./assets/img/image-clases-2.png" alt="crosstraining" class="img-fluid">
      </div>
      <div class="mt-4">
          <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt
              ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci
              tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum
              iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla
              facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit
              augue duis dolore te feugait nulla facilisi.</p>
      </div>
      <div class="container-recomendaciones">
        <h1 class="title-recomendaciones mt-4">RECOMENDACIONES</h1>
      </div>
      <div class="recomendaciones">
          <ul class="clases-list">
              <li class="clase-item">5 días por semana</li>
              <li class="clase-item">Programa de nutrición</li>
              <li class="clase-item">Entrenamiento de golpe</li>
              <li class="clase-item">Entrenamiento funcional</li>
              <li class="clase-item">Entrenamiento funcional</li>
              <li class="clase-item">Gimnasio abierto</li>
              <li class="clase-item">Acceso a videos</li>
              <li class="clase-item">Programa de nutrición</li>
              <li class="clase-item">Acceso a videos</li>
          </ul>
          
      </div>
  </div>
  <div>
    <tabset class="nav-tabs-primary justify-content-center">
      <tab>
        <app-horario></app-horario>
        <ng-template tabHeading>
          <i class="tim-icons icon-spaceship"> </i> ALBORADA
        </ng-template>
      </tab>

      <tab>
        <app-horario></app-horario>
        <ng-template tabHeading>
          <i class="tim-icons icon-spaceship"> </i> CENTRO
        </ng-template>
      </tab>

      <tab>
        <app-horario></app-horario>
        <ng-template tabHeading>
          <i class="tim-icons icon-spaceship"> </i> SUR
        </ng-template>
      </tab>

      <tab>
        <app-horario></app-horario>
        <ng-template tabHeading>
          <i class="tim-icons icon-spaceship"> </i> MACHALA
        </ng-template>
      </tab>
      </tabset>
  </div>
</div>
<div>

</div>
<div class="mt-4">
  <app-nuestro-team></app-nuestro-team>
</div>
