
  <div class="row mapa">
      <div class="info-box col-lg-3 col-md-3 col-sm-3 col-12">
        <div class="div-ubicacion" *ngFor="let marker of marcadores" (click)="zoomToMarker(marker)">
            <h3 class="text-white">{{ marker.title }}</h3>
            <p>
              <img src="assets/icons/ubicacion.png" alt="{{ marker.title }}" class="img-fluid">
              {{ marker.description }}</p>
            <p>
              <img src="assets/icons/telef.png" alt="{{ marker.title }}" class="img-fluid">
              {{marker.telefono}}</p>
            <p>
              <img src="assets/icons/correo.png" alt="{{ marker.title }}" class="img-fluid">
              {{marker.email}}</p>
        </div>
        
      </div>
      <google-map class="gmap col-lg-9 col-md-9 col-sm-9 col-12" [center]="center" [zoom]="zoom" [width]="'100%'" [height]="'100%'"
      [mapId]="''">
        <map-marker *ngFor="let marker of marcadores" [position]="marker.position" (mapClick)="selectMarker(marker, mapMarker)" #mapMarker="mapMarker"
         ></map-marker>
        <map-info-window [innerHTML]="infoContent"></map-info-window>

      </google-map>
  </div>
  
  