<div class="terminos-condiciones">
    <button type="button" class="btn-close" aria-label="Close" (click)="cerrarModal()">
        <i class="bi bi-x-circle"></i>
    </button>
    <div class="title">
        <h1><span class="text-resaltado">TÉRMINOS Y CONDICIONES</span></h1>
        <hr>
    </div>
    <div class="terminos">
        <p>Al acceder y utilizar el sitio web de <span class="text-resaltado">GymApp</span>, usted acepta los términos y condiciones de uso. Si no está de acuerdo con estos términos y condiciones, no debe utilizar este sitio web.</p>
        <p>El uso de este sitio web y la información contenida en él están sujetos a los siguientes términos y condiciones, que pueden ser actualizados por nosotros de vez en cuando sin previo aviso. Al continuar utilizando este sitio web, usted acepta estar sujeto a los términos y condiciones actualizados.</p>
        <p>Este sitio web es propiedad de <span class="text-resaltado">GymApp</span>. Todo el contenido de este sitio web, incluyendo, pero no limitado a, texto, gráficos, logotipos, iconos, imágenes, clips de audio, descargas digitales, compilaciones de datos y software, es propiedad de <span class="text-resaltado">GymApp</span> o de sus proveedores de contenido y está protegido por las leyes de derechos de autor de México y de otros países.</p>
        <p>El contenido de este sitio web se proporciona únicamente para su información general y uso. Está sujeto a cambios sin previo aviso.</p>
        <p>Este sitio web puede contener enlaces a otros sitios web que no son propiedad de <span class="text-resaltado">GymApp</span>. Estos enlaces se proporcionan para su conveniencia para proporcionarle más información. No tenemos control sobre el contenido de los sitios web a los que se accede a través de estos enlaces. Por lo tanto, no somos responsables del contenido de estos sitios web.</p>
        <p>El uso de este sitio web y cualquier disputa que surja de dicho uso del sitio web está sujeto a las leyes de México.</p>
        <p>Al acceder y utilizar el sitio web de <span class="text-resaltado">GymApp</span>, usted acepta los términos y condiciones de uso. Si no está de acuerdo con estos términos y condiciones, no debe utilizar este sitio web.</p>
        <p>El uso de este sitio web y la información contenida en él están sujetos a los siguientes términos y condiciones, que pueden ser actualizados por nosotros de vez en cuando sin previo aviso. Al continuar utilizando este sitio web, usted acepta estar sujeto a los términos y condiciones actualizados.</p>
        <p>Este sitio web es propiedad de <span class="text-resaltado">GymApp</span>. Todo el contenido de este sitio web, incluyendo, pero no limitado a, texto, gráficos, logotipos, iconos, imágenes, clips de audio, descargas digitales, compilaciones de datos y software, es propiedad de <span class="text-resaltado">GymApp</span> o de sus proveedores de contenido y está protegido por las leyes de derechos de autor de México y de otros países.</p>
        <p>El contenido de este sitio web se proporciona únicamente para su información general y uso. Está sujeto a cambios sin previo aviso.</p>
        <p>Este sitio web puede contener enlaces a otros sitios web que no son propiedad de <span class="text-resaltado">GymApp</span>. Estos enlaces se proporcionan para su conveniencia para proporcionarle más información. No tenemos control sobre el contenido de los sitios web a los que se accede a través de estos enlaces. Por lo tanto, no somos responsables del contenido de estos sitios web.</p>
        <p>El uso de este sitio web y cualquier disputa que surja de dicho uso del sitio web está sujeto a las leyes de México.</p>
        <p>Al acceder y utilizar el sitio web de <span class="text-resaltado">GymApp</span>, usted acepta los términos y condiciones de uso. Si no está de acuerdo con estos términos y condiciones, no debe utilizar este sitio web.</p>
        <p>El uso de este sitio web y la información contenida en él están sujetos a los siguientes términos y condiciones, que pueden ser actualizados por nosotros de vez en cuando sin previo aviso. Al continuar utilizando este sitio web, usted acepta estar sujeto a los términos y condiciones actualizados.</p>
        <p>Este sitio web es propiedad de <span class="text-resaltado">GymApp</span>. Todo el contenido de este sitio web, incluyendo, pero no limitado a, texto, gráficos, logotipos, iconos, imágenes, clips de audio, descargas digitales, compilaciones de datos y software, es propiedad de <span class="text-resaltado">GymApp</span> o de sus proveedores de contenido y está protegido por las leyes de derechos de autor de México y de otros países.</p>
        <p>El contenido de este sitio web se proporciona únicamente para su información general y uso. Está sujeto a cambios sin previo aviso.</p>
        <p>Este sitio web puede contener enlaces a otros sitios web que no son propiedad de <span class="text-resaltado">GymApp</span>. Estos enlaces se proporcionan para su conveniencia para proporcionarle más información. No tenemos control sobre el contenido de los sitios web a los que se accede a través de estos enlaces. Por lo tanto, no somos responsables del contenido de estos sitios web.</p>
        <p>El uso de este sitio web y cualquier disputa que surja de dicho uso del sitio web está sujeto a las leyes de México.</p>
    
    
    
    
    </div>
    <div class="btn-continuar">
        <button class="btn btn-primary" (click)="continuar()">Continuar</button>
    </div>
</div>