<div class="card-group">
  <div class="card card-unete">
    <div class="card-body body-unete">
      <h5 class="card-title">SE PARTE DE <br>
        NUESTRO <span class="text-resaltado">TEAM</span></h5>
        <hr>
        <a
        class="btn btn-primary t-4 font-weight-bold btn-registro"
        href="https://demos.creative-tim.com/blk-design-system-angular/#/documentation/alerts"
      >
      <span>
        REGISTRATE
      </span>
      </a>
    </div>
  </div>
  <div class="card card-img-app">
    <img src="../../../assets/img/image-grid-1.png" class="card-img-top" alt="...">
  </div>
</div>