<div class="container-noticias">
    <div class="col-lg-9 col-md-9 col-sm-9 col-12 justify-content-center container-info-noticias">
        <div class="title">
            Descubre los Beneficios del Peso Muerto para una Fuerza Total: Técnica, Mitos y Recomendaciones
        </div>
        <div class="container-img">
            <img src="assets/img/background-clases.webp" class="img-fluid" alt="...">
        </div>

        <div class="publicado">
            <p>Publicado el 30 de julio de 2024</p>
        </div>
        <div>
            <h4 class="info-nota">
                El peso muerto es uno de los ejercicios más completos y eficaces para mejorar la fuerza general, la estabilidad y el rendimiento atlético. Este ejercicio involucra múltiples grupos musculares, incluidos los glúteos, el core, la espalda baja y alta, y las piernas. A pesar de su efectividad, existen muchos mitos alrededor del peso muerto, como que es peligroso para la espalda o solo apto para levantadores experimentados. Sin embargo, con la técnica adecuada, el peso muerto es seguro y beneficioso tanto para principiantes como para avanzados.
            </h4>
        </div>

        <div>
            <h4 class="info-nota">
                Una de las claves para ejecutar un peso muerto efectivo es mantener una postura correcta, con la espalda recta, los pies al ancho de los hombros y el core bien contraído. También es importante iniciar con cargas moderadas y progresar gradualmente para evitar lesiones.
            </h4>
        </div>
        <div>
            <h4 class="info-nota">
                Este ejercicio no solo ayuda a ganar fuerza, sino que mejora la postura, aumenta la densidad ósea y optimiza la quema de grasa debido al esfuerzo integral del cuerpo. Si aún no lo has incluido en tu rutina, es un gran momento para comenzar.
            </h4>
        </div>
        <div>
            <h4 class="info-nota">
                <p class="font-weight-bold text-black">Sugerencias:</p>
                Técnica correcta: Detalla paso a paso cómo realizar el peso muerto con una alineación segura.
                Mitos comunes: Desmonta creencias erróneas sobre el peso muerto, como el riesgo de lesiones si se realiza bien.
                Variaciones: Sugiere variantes del peso muerto (sumo, con mancuernas, rumano) para diferentes objetivos.
                Beneficios: Resalta la importancia del peso muerto en el fortalecimiento del core y el aumento de la resistencia física.
                Rutina recomendada: Incluye una pequeña rutina de peso muerto para que los lectores puedan empezar.
            </h4>
        </div>

        <div class="noticia-2">
            <div class="icons">
                <div class="btn-wrapper container-redes">
                    <a
                      class="btn btn-icon btn-neutral btn-round btn-simple mr-1"
                      href=""
                      target="_blank"
                    >
                      <img src="assets/icons/ig.png" alt="twitter"  class="footer-icon" />
                    </a>
                    <a
                      class="btn btn-icon btn-neutral btn-round btn-simple mr-1"
                      href=""
                      target="_blank"
                    >
                      <img src="assets/icons/fb.png" alt="twitter"  class="footer-icon" />
                    </a>
                    <a
                      class="btn btn-icon btn-neutral btn-round btn-simple mr-1"
                      href=""
                      target="_blank"
                    >
                      <img src="assets/icons/tiktok.png" alt="facebook"  class="footer-icon" />
                    </a>
                    <a
                      class="btn btn-icon btn-neutral btn-round btn-simple"
                      href=""
                      target="_blank"
                    >
                      <img src="assets/icons/in.png" alt="instagram"  class="footer-icon" />
                    </a>
                  </div>
            </div>

            <div class="autor">
                <div class="img-autor">
                    <img src="assets/img/background-comentarios.webp" alt="...">
                </div>
                <div class="info-autor">
                    <h4>Sofia Mendieta</h4>
                    <p>Community Manager en Nova Gym</p>
                    <div class="icons">
                        <div class="btn-wrapper container-redes">
                            <a
                              class="btn btn-icon btn-neutral btn-round btn-simple mr-1"
                              href=""
                              target="_blank"
                            >
                              <img src="assets/icons/ig.png" alt="twitter"  class="footer-icon" />
                            </a>
                            <a
                              class="btn btn-icon btn-neutral btn-round btn-simple mr-1"
                              href=""
                              target="_blank"
                            >
                              <img src="assets/icons/fb.png" alt="twitter"  class="footer-icon" />
                            </a>
                            <a
                              class="btn btn-icon btn-neutral btn-round btn-simple mr-1"
                              href=""
                              target="_blank"
                            >
                              <img src="assets/icons/tiktok.png" alt="facebook"  class="footer-icon" />
                            </a>
                            <a
                              class="btn btn-icon btn-neutral btn-round btn-simple"
                              href=""
                              target="_blank"
                            >
                              <img src="assets/icons/in.png" alt="instagram"  class="footer-icon" />
                            </a>
                          </div>
                    </div>
                </div>
                
            </div>

            <div class="comentarios">
                <h4>Comentarios</h4>
                <div class="comentario">
                    <div class="img-comentario">
                        <img src="assets/img/background-comentarios.webp" alt="...">
                    </div>
                    <div class="comentario-info">
                        <h4>Monica Cevallos</h4>
                        <p>Fuera de las 2 o 3 horas de clases se puede acceder a todos las instalaciones?</p>
                    
                            <div class="reply">
                                <a href="">Responder</a>
                            </div>
        
                            <div class="replies">
                                <div class="comentario">
                                    <div class="img-comentario">
                                        <img src="assets/img/background-comentarios.webp" alt="...">
                                    </div>
                                    <div class="comentario-info">
                                        <h4>Nova Gym</h4>
                                        <p>Hola! No, son clases, acabamos de subir el horario donde puede ver como sería depende su grupo de edad 🙌</p>
                                        <div class="reply">
                                            <a href="">Responder</a>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>

                </div>
            </div>

        </div>

    </div>
    <div class="col-lg-3 col-md-3 col-sm-3 col-12 sidebar">
        <div class="buscador">
            <div class="input-container">
                <input type="text" placeholder="Buscar">
                <span class="icon">
                    <img src="assets/icons/buscar.png" alt="buscar">
                </span> 
            </div>
        </div>
        <div class="categorias">
            <h4>Categorias</h4>
            <ul>
                <li>Noticias</li>
                <li>Eventos</li>
                <li>Consejos</li>
                <li>Recetas</li>
            </ul>
        </div>

        <div class="recent">
            <h4>Recientes</h4>
            <ul>
                <li>
                    <img src="assets/img/home-noticias-3.png" alt="...">
                    NO ATENCION</li>
                <li>
                    <img src="assets/img/home-noticias-2.png" alt="...">
                    CANCHAS FUTBOL</li>
                <li>
                    <img src="assets/img/home-noticias-1.png" alt="...">
                    CURSOS DISPONIBLES</li>
                <li>
                    <img src="assets/img/home-noticias-3.png" alt="...">
                    ATENCION DOMINGO </li>
            </ul>
        </div>

        <div class="tags">
            <h4>Tags</h4>
            <ul>
                <li>
                    <div class="tag">
                        Noticias
                    </div>
                    </li>
                <li>
                    <div class="tag">
                    Eventos
                </div></li>
                <li>
                    <div class="tag">
                    Consejos
                </div></li>
                <li>
                    <div class="tag">
                    Recetas
                </div></li>
            </ul>
        </div>

        <div class="siguenos">
            <h4>Síguenos</h4>
            <ul>
                <li>Facebook</li>
                <li>Instagram</li>
                <li>Twitter</li>
                <li>Youtube</li>
            </ul>
        </div>

        <div class="boletin">
            <h4>Boletín Informativo</h4>
            <div class="input-container">
                <input type="text" placeholder="Escribe tu email">
                <span class="icon">
                    <img src="assets/icons/siguiente.png" alt="mail">
                </span> 
            </div>
            <p>Recibe las últimas noticias y ofertas especiales</p>

        </div>
    </div>
</div>
<app-nuestro-team></app-nuestro-team>