<div class="container-noticias">
    <div class="col-lg-9 col-md-9 col-sm-9 col-12 justify-content-center container-info-noticias">
        <div class="title">
            ALQUILA NUESTRAS CANCHAS
        </div>
        <div class="container-img">
            <img src="assets/img/home-noticias-2.png" class="img-fluid" alt="...">
        </div>

        <div class="publicado">
            <p>Publicado el 30 de julio de 2024</p>
        </div>
        <div>
            <h3 class="info-nota">
                CLUB NOVA ⚽️🏊‍♂️🎾🏐🏓
                Mira TODOS LOS PRECIOS POR HORA de nuestras distintas canchas 😍💯
            </h3>
        </div>

        <div class="cita">
            <div class="div-img">
                <img src="assets/img/comillas2.png" alt="...">
            </div>
            <div class="text-cita">
                <h3 class="info-nota">
                    ⛳️ Atrás del Comisariato de la Alborada. Guayaquil
                    📲 WHATSAPP 0990153103
                </h3>
            </div>

        </div>

        <div>
            <h3 class="info-nota">
                CLUB NOVA ⚽️🏊‍♂️🎾🏐🏓
                ¡Desliza y mira TODOS LOS PRECIOS POR HORA de nuestras distintas canchas! 😍💯

                ✅ Perfecto para pasar en familia y amigos
                ✅ Canchas de fútbol, tenis, volley, piscinas y mesa de
                ping pong
                ✅ ¡Contamos con PARQUEO PRIVADO y SEGURO!

                ⛳️ Atrás del Comisariato de la Alborada. Guayaquil
                📲 WHATSAPP 0990153103
            </h3>
        </div>

        <div class="noticia-2">
            <div class="title">
                NUEVOS CURSOS DISPONIBLES
            </div>
            <div class="container-img">
                <img class="img-fluid" src="assets/img/home-noticias-1.png" alt="...">
            </div>
            <div class="publicado">
                <p>Publicado el 20 de octubre de 2024</p>
            </div>
            <div>
                <h3 class="info-nota">
                    Inscríbete Ya!! ⚽️🏃🎾🏋‍♂️🥊🏊‍♀️
                    El único club que te da todos estos increíbles deportes TODO INCLUIDO! A UN EXCELENTE PRECIO
                    👉Contamos con horarios Lunes a viernes (2 hrs) y también cursos de Sábados intensivos (3 horas)

                    ●Precio incluye TODAS LAS ACTIVIDADES 😱😍
                    ●CUPO LIMITADO! máximo 25 alumnos por clase
                    ●Niños de 5 a 16 años
                    ●Adultos desde 17 años en adelante todas las edades
                    ●4 HORARIOS A ESCOGER
                    ●Inicio de cursos este Lunes 19 de Agosto

                    ⛳️ Atrás del Comisariato de la Alborada. Guayaquil
                    📲 WHATSAPP 0990153103
                </h3>
            </div>
            <div class="icons">
                <div class="btn-wrapper container-redes">
                    <a
                      class="btn btn-icon btn-neutral btn-round btn-simple mr-1"
                      href=""
                      target="_blank"
                    >
                      <img src="assets/icons/ig.png" alt="twitter"  class="footer-icon" />
                    </a>
                    <a
                      class="btn btn-icon btn-neutral btn-round btn-simple mr-1"
                      href=""
                      target="_blank"
                    >
                      <img src="assets/icons/fb.png" alt="twitter"  class="footer-icon" />
                    </a>
                    <a
                      class="btn btn-icon btn-neutral btn-round btn-simple mr-1"
                      href=""
                      target="_blank"
                    >
                      <img src="assets/icons/tiktok.png" alt="facebook"  class="footer-icon" />
                    </a>
                    <a
                      class="btn btn-icon btn-neutral btn-round btn-simple"
                      href=""
                      target="_blank"
                    >
                      <img src="assets/icons/in.png" alt="instagram"  class="footer-icon" />
                    </a>
                  </div>
            </div>

            <div class="autor">
                <div class="img-autor">
                    <img src="assets/img/background-comentarios.webp" alt="...">
                </div>
                <div class="info-autor">
                    <h3>Sofia Mendieta</h3>
                    <p>Community Manager en Nova Gym</p>
                    <div class="icons">
                        <div class="btn-wrapper container-redes">
                            <a
                              class="btn btn-icon btn-neutral btn-round btn-simple mr-1"
                              href=""
                              target="_blank"
                            >
                              <img src="assets/icons/ig.png" alt="twitter"  class="footer-icon" />
                            </a>
                            <a
                              class="btn btn-icon btn-neutral btn-round btn-simple mr-1"
                              href=""
                              target="_blank"
                            >
                              <img src="assets/icons/fb.png" alt="twitter"  class="footer-icon" />
                            </a>
                            <a
                              class="btn btn-icon btn-neutral btn-round btn-simple mr-1"
                              href=""
                              target="_blank"
                            >
                              <img src="assets/icons/tiktok.png" alt="facebook"  class="footer-icon" />
                            </a>
                            <a
                              class="btn btn-icon btn-neutral btn-round btn-simple"
                              href=""
                              target="_blank"
                            >
                              <img src="assets/icons/in.png" alt="instagram"  class="footer-icon" />
                            </a>
                          </div>
                    </div>
                </div>
                
            </div>

            <div class="comentarios">
                <h3>Comentarios</h3>
                <div class="comentario">
                    <div class="img-comentario">
                        <img src="assets/img/background-comentarios.webp" alt="...">
                    </div>
                    <div class="comentario-info">
                        <h3>Monica Cevallos</h3>
                        <p>Fuera de las 2 o 3 horas de clases se puede acceder a todos las instalaciones?</p>
                    
                            <div class="reply">
                                <a href="">Responder</a>
                            </div>
        
                            <div class="replies">
                                <div class="comentario">
                                    <div class="img-comentario">
                                        <img src="assets/img/background-comentarios.webp" alt="...">
                                    </div>
                                    <div class="comentario-info">
                                        <h3>Nova Gym</h3>
                                        <p>Hola! No, son clases, acabamos de subir el horario donde puede ver como sería depende su grupo de edad 🙌</p>
                                        <div class="reply">
                                            <a href="">Responder</a>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>

                </div>
            </div>

        </div>

    </div>
    <div class="col-lg-3 col-md-3 col-sm-3 col-12 sidebar">
        <div class="buscador">
            <div class="input-container">
                <input type="text" placeholder="Buscar">
                <span class="icon">
                    <img src="assets/icons/buscar.png" alt="buscar">
                </span> 
            </div>
        </div>
        <div class="categorias">
            <h3>Categorias</h3>
            <ul>
                <li>Noticias</li>
                <li>Eventos</li>
                <li>Consejos</li>
                <li>Recetas</li>
            </ul>
        </div>

        <div class="recent">
            <h3>Recientes</h3>
            <ul>
                <li>
                    <img src="assets/img/home-noticias-3.png" alt="...">
                    NO ATENCION</li>
                <li>
                    <img src="assets/img/home-noticias-2.png" alt="...">
                    CANCHAS FUTBOL</li>
                <li>
                    <img src="assets/img/home-noticias-1.png" alt="...">
                    CURSOS DISPONIBLES</li>
                <li>
                    <img src="assets/img/home-noticias-3.png" alt="...">
                    ATENCION DOMINGO </li>
            </ul>
        </div>

        <div class="tags">
            <h3>Tags</h3>
            <ul>
                <li>
                    <div class="tag">
                        Noticias
                    </div>
                    </li>
                <li>
                    <div class="tag">
                    Eventos
                </div></li>
                <li>
                    <div class="tag">
                    Consejos
                </div></li>
                <li>
                    <div class="tag">
                    Recetas
                </div></li>
            </ul>
        </div>

        <div class="siguenos">
            <h3>Síguenos</h3>
            <ul>
                <li>Facebook</li>
                <li>Instagram</li>
                <li>Twitter</li>
                <li>Youtube</li>
            </ul>
        </div>

        <div class="boletin">
            <h3>Boletín Informativo</h3>
            <div class="input-container">
                <input type="text" placeholder="Escribe tu email">
                <span class="icon">
                    <img src="assets/icons/siguiente.png" alt="mail">
                </span> 
            </div>
            <p>Recibe las últimas noticias y ofertas especiales</p>

        </div>
    </div>
</div>
<app-nuestro-team></app-nuestro-team>