<div class="container-noticias">
    <div class="col-9 justify-content-center container-info-noticias">
        <div>
            <img src="assets/img/background-comentarios.webp" class="img-fluid" alt="...">
        </div>

        <div class="publicado">
            <p>Publicado el 12 de marzo de 2021</p>
        </div>
        <div>
            <h3>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero ipsam harum explicabo, 
                voluptas expedita, mollitia impedit, laborum dignissimos aliquam eveniet quisquam at blanditiis.
                 Animi quos sapiente laborum quisquam architecto aut. Lorem ipsum dolor sit amet consectetur adipisicing elit.
                  Dolor fugiat molestiae praesentium magnam quidem officia vitae nam fuga.
                Alias animi nisi ducimus facilis earum? Ipsam beatae ipsum ratione ex quam.
            </h3>
        </div>

        <div class="cita">
            <div class="div-img">
                <img src="assets/img/comillas2.png" alt="...">
            </div>
            <div>
                <h3>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero ipsam harum explicabo, 
                    voluptas expedita, mollitia impedit, laborum dignissimos aliquam eveniet quisquam at blanditiis.
                </h3>
            </div>

        </div>

        <div>
            <h3>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus dictum lorem sapien. Quisque rhoncus,
                 sapien ut placerat ornare, libero odio tincidunt ante, eu vestibulum quam nisi sit amet leo. 
                 Vestibulum in neque molestie, vehicula sem a, aliquet nunc. Morbi fringilla turpis et orci luctus 
                 pharetra. Praesent malesuada, orci at sagittis venenatis, neque metus pretium libero, sed finibus
                  orci augue sed nibh. Fusce interdum nisl at nibh congue, non dictum dui auctor. Nunc vehicula ac 
                  elit in efficitur. Donec bibendum felis in orci interdum, ac varius leo porttitor. 
                  Maecenas dignissim, augue a facilisis pulvinar, velit ligula venenatis purus, et sollicitudin 
                  leo enim sit amet dui. Curabitur id elementum quam, ac porttitor nulla.
            </h3>
        </div>

        <div class="noticia-2">
            <div class="title">
                DESCUBRE LA MAGIA
            </div>
            <div>
                <img class="img-fluid" src="assets/img/background-comentarios.webp" alt="...">
            </div>
            <div class="publicado">
                <p>Publicado el 12 de marzo de 2021</p>
            </div>
            <div>
                <h3>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero ipsam harum explicabo, 
                    voluptas expedita, mollitia impedit, laborum dignissimos aliquam eveniet quisquam at blanditiis.
                     Animi quos sapiente laborum quisquam architecto aut. Lorem ipsum dolor sit amet consectetur adipisicing elit.
                      Dolor fugiat molestiae praesentium magnam quidem officia vitae nam fuga.
                    Alias animi nisi ducimus facilis earum? Ipsam beatae ipsum ratione ex quam.
                </h3>
            </div>
            <div class="icons">
                <div class="btn-wrapper container-redes">
                    <a
                      class="btn btn-icon btn-neutral btn-round btn-simple mr-1"
                      href=""
                      target="_blank"
                    >
                      <img src="assets/icons/ig.png" alt="twitter"  class="footer-icon" />
                    </a>
                    <a
                      class="btn btn-icon btn-neutral btn-round btn-simple mr-1"
                      href=""
                      target="_blank"
                    >
                      <img src="assets/icons/fb.png" alt="twitter"  class="footer-icon" />
                    </a>
                    <a
                      class="btn btn-icon btn-neutral btn-round btn-simple mr-1"
                      href=""
                      target="_blank"
                    >
                      <img src="assets/icons/tiktok.png" alt="facebook"  class="footer-icon" />
                    </a>
                    <a
                      class="btn btn-icon btn-neutral btn-round btn-simple"
                      href=""
                      target="_blank"
                    >
                      <img src="assets/icons/in.png" alt="instagram"  class="footer-icon" />
                    </a>
                  </div>
            </div>

            <div class="autor">
                <div class="img-autor">
                    <img src="assets/img/background-comentarios.webp" alt="...">
                </div>
                <div class="">
                    <h3>Sofia Mendieta</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. At natus obcaecati corporis eos.</p>
                    <div class="icons">
                        <div class="btn-wrapper container-redes">
                            <a
                              class="btn btn-icon btn-neutral btn-round btn-simple mr-1"
                              href=""
                              target="_blank"
                            >
                              <img src="assets/icons/ig.png" alt="twitter"  class="footer-icon" />
                            </a>
                            <a
                              class="btn btn-icon btn-neutral btn-round btn-simple mr-1"
                              href=""
                              target="_blank"
                            >
                              <img src="assets/icons/fb.png" alt="twitter"  class="footer-icon" />
                            </a>
                            <a
                              class="btn btn-icon btn-neutral btn-round btn-simple mr-1"
                              href=""
                              target="_blank"
                            >
                              <img src="assets/icons/tiktok.png" alt="facebook"  class="footer-icon" />
                            </a>
                            <a
                              class="btn btn-icon btn-neutral btn-round btn-simple"
                              href=""
                              target="_blank"
                            >
                              <img src="assets/icons/in.png" alt="instagram"  class="footer-icon" />
                            </a>
                          </div>
                    </div>
                </div>
                
            </div>

            <div class="comentarios">
                <h3>Comentarios</h3>
                <div class="comentario">
                    <div class="img-comentario">
                        <img src="assets/img/background-comentarios.webp" alt="...">
                    </div>
                    <div class="comentario-info">
                        <h3>Monica Cevallos</h3>
                        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Veritatis dignissimos voluptatibus unde quo odio 
                            aperiam dolores est earum cupiditate, tenetur laudantium, odit numquam iusto officiis pariatur nisi atque 
                            sint optio!</p>
                    
                            <div class="reply">
                                <a href="">Responder</a>
                            </div>
        
                            <div class="replies">
                                <div class="comentario">
                                    <div class="img-comentario">
                                        <img src="assets/img/background-comentarios.webp" alt="...">
                                    </div>
                                    <div class="comentario-info">
                                        <h3>María Tola</h3>
                                        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Veritatis dignissimos voluptatibus unde quo odio 
                                            aperiam dolores est earum cupiditate, tenetur laudantium, odit numquam iusto officiis pariatur nisi atque 
                                            sint optio!</p>
                                        <div class="reply">
                                            <a href="">Responder</a>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>

                </div>
            </div>

        </div>

    </div>
    <div class="col-3 sidebar">
        <div class="buscador">
            <div class="input-container">
                <input type="text" placeholder="Buscar">
                <span class="icon">
                    <img src="assets/icons/buscar.png" alt="buscar">
                </span> 
            </div>
        </div>
        <div class="categorias">
            <h3>Categorias</h3>
            <ul>
                <li>Noticias</li>
                <li>Eventos</li>
                <li>Consejos</li>
                <li>Recetas</li>
            </ul>
        </div>

        <div class="recent">
            <h3>Recientes</h3>
            <ul>
                <li>
                    <img src="assets/img/background-comentarios.webp" alt="...">
                    IRON MINDFEST</li>
                <li>
                    <img src="assets/img/background-comentarios.webp" alt="...">
                    BE HEALTHY</li>
                <li>
                    <img src="assets/img/background-comentarios.webp" alt="...">
                    START NOW</li>
                <li>
                    <img src="assets/img/background-comentarios.webp" alt="...">
                    BEGINNERS </li>
            </ul>
        </div>

        <div class="tags">
            <h3>Tags</h3>
            <ul>
                <li>
                    <div class="tag">
                        Noticias
                    </div>
                    </li>
                <li>
                    <div class="tag">
                    Eventos
                </div></li>
                <li>
                    <div class="tag">
                    Consejos
                </div></li>
                <li>
                    <div class="tag">
                    Recetas
                </div></li>
            </ul>
        </div>

        <div class="siguenos">
            <h3>Síguenos</h3>
            <ul>
                <li>Facebook</li>
                <li>Instagram</li>
                <li>Twitter</li>
                <li>Youtube</li>
            </ul>
        </div>

        <div class="boletin">
            <h3>Boletín Informativo</h3>
            <div class="input-container">
                <input type="text" placeholder="Escribe tu email">
                <span class="icon">
                    <img src="assets/icons/siguiente.png" alt="mail">
                </span> 
            </div>
            <p>Recibe las últimas noticias y ofertas especiales</p>

        </div>
    </div>
</div>
<app-nuestro-team></app-nuestro-team>