<div class="container-clases">
    <div class="clases-header">
            <div class="container-title">
                <h1 class="title text-center">
                    CLASES <span class="text-resaltado">NOVA</span> GRUPALES
                </h1>
                <h6 class="text-center">
                    Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam <hr />
                    nonummy nibh euismod tincidunt ut laoreet dolore.
                </h6>
            </div>
    </div>

    <div class="tipo-clases">
        <div class="row row-cols-1 row-cols-md-2">
            <div *ngFor="let clase of clases" class="col-4 mb-4" (click)="navigateToInfoClases(clase.id)">
                <div class="card card-clases">
                    <img src="./assets/img/clases-1.webp" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h3 class="text-white text-start font-weight-bold">
                            {{clase.nombre}}
                        </h3>
                        <h1 class="text-start"> <span class="text-resaltado font-weight-bold">
                            Funcional
                        </span>
                        </h1>
                    </div>
                    <div class="card-footer">
                    </div>
                  </div>
            </div>
          </div>
    </div>

    <app-nuestro-team></app-nuestro-team>
</div>