<div class="container-clases">
    <div class="clases-header">
            <div class="container-title">
                <h1 class="title text-center">
                    CLASES <span class="text-resaltado">NOVA</span> GRUPALES
                </h1>
                <h6 class="text-center">
                    Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam <hr />
                    nonummy nibh euismod tincidunt ut laoreet dolore.
                </h6>
            </div>
    </div>

    <div class="tipo-clases">
        <div class="row row-cols-1 row-cols-md-2">
            <div class="col-4 mb-4" (click)="navigateToInfoClases()">
                <div class="card card-clases">
                    <img src="./assets/img/image-galeria-4.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h3 class="text-white text-start font-weight-bold">
                            Entrenamiento
                        </h3>
                        <h1 class="text-start"> <span class="text-resaltado font-weight-bold">
                            Funcional
                        </span>
                        </h1>
                    </div>
                    <div class="card-footer">
                    </div>
                  </div>

            </div>

            <div class="col-4 mb-4" (click)="navigateToInfoClases()">
                <div class="card card-clases">
                    <img src="./assets/img/image-cardio.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h3 class="text-white text-start font-weight-bold">
                            Entrenamiento
                        </h3>
                        <h1 class="text-start"> <span class="text-resaltado font-weight-bold">
                            Cardio
                        </span>
                        </h1>
                    </div>
                    <div class="card-footer">
                    </div>
                  </div>

            </div>

            <div class="col-4 mb-4" (click)="navigateToInfoClases()">
                <div class="card card-clases">
                    <img src="./assets/img/image-clases-1.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h3 class="text-white text-start font-weight-bold">
                            Entrenamiento
                        </h3>
                        <h1 class="text-start"> <span class="text-resaltado font-weight-bold">
                            Crosstraining
                        </span>
                        </h1>
                    </div>
                    <div class="card-footer">
                    </div>
                  </div>

            </div>

            <div class="col-4 mb-4" (click)="navigateToInfoClases()">
                <div class="card card-clases">
                    <img src="./assets/img/image-clases.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h3 class="text-white text-start font-weight-bold">
                            Entrenamiento
                        </h3>
                        <h1 class="text-start"> <span class="text-resaltado font-weight-bold">
                            Musculación y Peso
                        </span>
                        </h1>
                    </div>
                    <div class="card-footer">
                    </div>
                  </div>

            </div>

            <div class="col-4 mb-4" (click)="navigateToInfoClases()">
                <div class="card card-clases">
                    <img src="./assets/img/image-galeria-2.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h3 class="text-white text-start font-weight-bold">
                            Entrenamiento
                        </h3>
                        <h1 class="text-start"> <span class="text-resaltado font-weight-bold">
                            Aeróbicos
                        </span>
                        </h1>
                    </div>
                    <div class="card-footer">
                    </div>
                  </div>

            </div>

            <div class="col-4 mb-4" (click)="navigateToInfoClases()">
                <div class="card card-clases">
                    <img src="./assets/img/image-clases-2.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h3 class="text-white text-start font-weight-bold">
                            Entrenamiento
                        </h3>
                        <h1 class="text-start"> <span class="text-resaltado font-weight-bold">
                            Baile
                        </span>
                        </h1>
                    </div>
                    <div class="card-footer">
                    </div>
                  </div>

            </div>

          </div>
    </div>

    <app-nuestro-team></app-nuestro-team>
</div>